<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>new Project</title>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <h2 class="hedt"> {{title}} page header content 10 </h2>
  <div class="header">
    <a href="/">HOME</a>
    <a href="/service">SERVICE</a>
    <a href="/team">TEAM</a>
    <a href="/anime">ANIME</a>
    <a href="/car">CAR</a>
  </div>
</body>
</html>